:root {
    --brand: #004c39;
    --bg: #E6F2EF;
}

body {
    font-family: 'Open Sans', 'Roboto', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

h1,
h2,
h3 {
    font-family: 'Open Sans', 'Roboto', sans-serif;
}